*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
  margin: 0;
}
.root{
    --bg-color:#1f1c1c;
    --text-color:#f3f6f3;
    font-size: 18px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#1f1c1c;
}
header{
    width: 100%;
    background: #4e94ab;
    
}

/* estilo de menu */

nav{
    display: block;
}
nav ul {
    background: #164884;
    text-align: center;
    list-style: none;
    overflow: hidden;
    
  
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #112d4e;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
  }

 
 a{
    color:#f3f6f3 ;
}
p{
    margin-bottom: 0.75em ;
    line-height: 1.2rem;
}
#main{
    height: auto;
    
}
.lang{
    height: 50px;
    width: 50px;
    display: inline;
    float: right;
}

.footer{
    margin-top: 300px;
    /*position: fixed;*/
    bottom: 0;
    padding: 20px;
    border-top: 1px solid green;
    width: 100%;
    text-align: center;
}
#search-form{
    margin-top: 150px;
}
.searchbox{
    padding: 20px;
    background-color: #f3f6f3;
    max-width: 480px;
    margin: 60px auto 20px;
    border-radius: 10px;
}

.search{
    width: 100%;
    background-color: #f3f6f3;
    border: none;
    font-size: 1rem;

}
.search:focus{
    outline: none;
}
.flags{
    margin-top: -50px;
}

/* diseño de card */ 

.weather-card{
    margin: 20px 20px;
    background: #f3f6f3;
    color: #1f1c1c ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    margin-left: 10%;
    margin-top: 70px;
    
}
.h1wCard{
    text-align: center;
    font-size: 20px;
    color: royalblue;
    margin-top: 30px;
    margin-bottom: 40px;
}
.city{
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

}
.date{
    margin-bottom: 0.9rem;
    margin-bottom: 2rem;
}
.tem-img{
    width: 50px;
    margin-right: 14px;
}
.temperature{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 45%;
    margin-bottom: 2rem;
    }
.temp{
    font-size: 2.6rem;
    font-weight: bold;
}
.weather {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.bg-info{
    margin-left: 30%;
    width: 40%;
    margin-bottom: 15px;
    margin-top: 15px;
}
#wind{
    margin-top: 15px;
}

/* fin de diseño de card */ 
.mapat{
    margin-left: 300px;
}
/* estilo del footer */ 

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display:-o-flex;
    display:block;
    flex-flow: row wrap;
    padding:50px;
    color:#fff;
    background-color: #011c39;
    margin-top: 50px;
    }
    
    .footer-left{
    margin-right: 0%;
    margin-bottom: 2em;
    width: 32%;
    float: right;
    
    }
    .footer-left img{
        width:20px;   
        }

  
    .footer-bottom p{
    text-align: center;
    color: #999;
    padding-top:50px;
    width: 100%;
    margin-left: 100%;
    }
  

/* fin de estilo footer */

@media screen and (min-width:220px) and (max-width:768px) {
    .mapat{
        display: none;
    }

    .h1wCard{
        display: none;
    }
  
    ul li {
        width: 100%;
        padding: 15px;
        text-align: left;
      }
    
      .hide {
        display: block;
      }
    
      nav ul {
      display: none;
    
      }
      .box{
          width: 33%;
      }
    .footer-left{
        font-size: 0.65em;
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer{
        padding-left: 0%;
        padding-right: 0%;
    }

}


